Flask==2.2.2 
pandas==1.5.2 
setuptools==63.0.0 
tensorflow==2.14.0 
numpy==1.23.5 
scikit-image==0.19.3  
gevent==22.10.2  
scikit-learn==1.1.3  
h5py==3.7.0 
protobuf==4.22.1  
gunicorn==21.2.0 
Werkzeug==2.2.2
flask_ngrok 
